* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg-2.png');
}

header {
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.logo {
    margin-top: 5px;
    margin-left: 5px;
}

header .boton {
    margin-right: 5px;
}

header .boton i {
    font-size: 20px;
    color: white;
}

main .articulos {
    margin: 20px auto 0;
    background-color: white;
    width: 90%;
}

main .articulos article {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

main .articulos article div h3 {
    margin-top: 10px;
}

main .articulos article div p {
    margin-top: 10px;
}

main .articulos article a {
    margin-top: 5px;
    padding: 6px;
    background-color: orangered;
    align-self: flex-start;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

main .tutoriales {
    margin: 20px auto 0;
    width: 90%;
}

main .tutoriales .titulo {
    margin: 15px 0;
    background-color: white;
    height: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

main .tutoriales .titulo h3 {
    font-size: 30px;
}

main .tutoriales .contenedor div {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
}

main .tutoriales .contenedor div p {
    margin-left: 5px;
}

main .publicidad {
    margin: 20px auto 0;
    width: 90%;
}

main .publicidad .titulo {
    margin: 15px 0;
    background-color: white;
    height: 35px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

main .publicidad .titulo h3 {
    font-size: 30px;
}

main .publicidad .contenedor {
    background-color: white;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

main .publicidad .contenedor div {
    padding: 5px;
}